* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #292524;
  color: #fafaf9;
  font-family: "sono", sans-serif;
  padding: 40px;
}

header,
#fact-form {
  margin-bottom: 40px;
}

#fact-form {
  background-color: #44403c;
  padding: 16px 40px;
  text-align: center;
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  font-family: "coiny", sans-serif;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #44403c;
  margin-bottom: 16px;
  padding: 16px 24px;
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "coiny", sans-serif;
}

.technology-tag {
  background-color: #3b82f6;
}

.science-tag {
  background-color: #16a34a;
}

.finance-tag {
  background-color: #ef4444;
}

.society-tag {
  background-color: #eab308;
}

.entertainment-tag {
  background-color: #db2777;
}

.health-tag {
  background-color: #14b8a6;
}

.history-tag {
  background-color: #f97316;
}

.news-tag {
  background-color: #8b5cf6;
}

ul {
  list-style: none;
}
