* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #292524;
  color: #fafaf9;
  font-family: "sono", sans-serif;
  padding: 48px 64px;
}

header,
#fact-form {
  margin-bottom: 40px;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  width: 68px;
  height: 68px;
}

#fact-form {
  background-color: #44403c;
  padding: 16px 40px;
  text-align: center;
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  font-family: "coiny", sans-serif;
  line-height: 1;
  margin-top: 6px;
}

.category {
  margin-bottom: 16px;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #44403c;
  margin-bottom: 16px;
  padding: 16px 24px;

  display: flex;
  align-items: center;
  gap: 24px;
}

.source:link,
.source:visited {
  color: #a8a39e;
  text-decoration: none;
  margin-left: 10px;
  transition: 1s;
}

.source:hover,
.source:active {
  color: #3b82f6;
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "coiny", sans-serif;
  padding: 3px 10px 0 10px;
}

.vote-buttons {
  margin-left: auto;
}

ul {
  list-style: none;
}

.btn {
  border: none;
  font-family: "Coiny", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 17px;
  padding: 16px 0 13px;
  background: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
  color: inherit;
  transition: 0.3s;
}

.btn:hover {
  transform: rotate(-2deg);
}

.btn-large {
  font-size: 20px;
  padding: 20px 32px 17px;
}

.btn-categories {
  width: 100%;
  background-image: none;
}

.btn-categories-all {
  margin-bottom: 16px;
  width: 100%;
}

.technology-tag {
  background-color: #3b82f6;
}

.science-tag {
  background-color: #16a34a;
}

.finance-tag {
  background-color: #ef4444;
}

.society-tag {
  background-color: #eab308;
}

.entertainment-tag {
  background-color: #db2777;
}

.health-tag {
  background-color: #14b8a6;
}

.history-tag {
  background-color: #f97316;
}

.news-tag {
  background-color: #8b5cf6;
}
